{% extends 'base.html.twig' %}

{% block title %}Edition des spectacles{% endblock %}

{% block body %}
    <div class="container">
        <h1>Edition des spectacles</h1>

        {{ include('show/_form.html.twig', {'button_label': 'Editer'}) }}

        <button class="btn"><a href="{{ path('show_index') }}">Retour</a></button>

        {{ include('show/_delete_form.html.twig') }}
    </div>
{% endblock %}
