{% extends 'base.html.twig' %}

{% block title %}Edition des spectacles{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="title-admin">Edition des spectacles</h1>

        {{ include('show/_form.html.twig', {'button_label': 'Editer'}) }}


        {{ include('show/_delete_form.html.twig') }}
    </div>
{% endblock %}
