{% extends 'base.html.twig' %}

{% block title %}Nouveau spectacle{% endblock %}

{% block body %}
        <h1 class="title-admin">Créer un nouveau spectacle</h1>
        <div class="row col-12 form-admin">

        {{ include('show/_form.html.twig') }}

    </div>
{% endblock %}
