{% extends 'base.html.twig' %}

{% block title %}Nouveau spectacle{% endblock %}

{% block body %}
    <h1>Créer un nouveau spectacle</h1>

    {{ include('show/_form.html.twig') }}

    <button class="btn"><a href="{{ path('show_index') }}">Retour</a></button>
{% endblock %}
